<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.protic.infrastructure.database.mybatis.mappers.CompanyRecordMapper">
    <sql id="company_columns">
        ID_COMPANY,
        NAME_VALUE
    </sql>
    <select id="selectById" parameterType="org.example.protic.infrastructure.database.mybatis.records.CompanyRecord"
            resultType="org.example.protic.infrastructure.database.mybatis.records.CompanyRecord">
        select
        <include refid="company_columns"/>
        from COMPANY
        <where>
            ID_COMPANY = #{idCompany}
        </where>
    </select>
    <select id="selectByNameValue" parameterType="org.example.protic.infrastructure.database.mybatis.records.CompanyRecord"
            resultType="org.example.protic.infrastructure.database.mybatis.records.CompanyRecord">
        select
        <include refid="company_columns"/>
        from COMPANY
        <where>
            NAME_VALUE = #{nameValue}
        </where>
    </select>
    <insert id="insert" parameterType="org.example.protic.infrastructure.database.mybatis.records.CompanyRecord"
    useGeneratedKeys="true" keyProperty="idCompany" keyColumn="ID_COMPANY">
        insert into COMPANY (NAME_VALUE) values (#{nameValue,jdbcType=VARCHAR})
    </insert>
</mapper>