body {
  background-color: rgb(255, 255, 255);
}

.modal {
  background-color: rgba(0, 0, 0, 0.1);
}

.navbar-user-clickable {
  cursor: pointer;
}

.card-skeleton-title {
  background: rgb(240,240,240);
  background: linear-gradient(90deg, rgba(240,240,240,1) 0%, rgba(250,250,250,1) 35%, rgba(240,240,240,1) 100%);
  width: 50%;
  height: 1.5em;
  border-radius: 3px;
}

.card-skeleton-line-30 {
  background: rgb(240,240,240);
  background: linear-gradient(90deg, rgba(240,240,240,1) 0%, rgba(250,250,250,1) 35%, rgba(240,240,240,1) 100%);
  width: 30%;
  height: 1em;
  border-radius: 3px;
}

.card-skeleton-line-40 {
  background: rgb(240,240,240);
  background: linear-gradient(90deg, rgba(240,240,240,1) 0%, rgba(250,250,250,1) 35%, rgba(240,240,240,1) 100%);
  width: 40%;
  height: 1em;
  border-radius: 3px;
}

.component-autocomplete > .input-container > .suggestions {
    position: fixed;
    background-color: white;
    z-index: 100;
}

.component-autocomplete > .input-container > .suggestions > .suggestion {
    cursor: pointer;
    border: solid;
    border-width: 0px 1px 1px 1px;
    border-color: lightgrey;
}

.component-autocomplete > .input-container > .suggestions > .suggestion:hover {
    background-color: lightgrey;
}

.component-closable-chip {
    display: inline-block;
    padding: 0 15px;
    height: 25px;
    font-size: 12px;
    line-height: 22px;
    border-radius: 25px;
    background-color: lightgrey;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  
 .component-closable-chip .chip-text {
    line-height: 26px;
  }

 .component-closable-chip .close-btn {
    padding-left: 10px;
    color: grey;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
  }

.component-closable-chip .close-btn:hover {
    color: black;
  }

button.no-style {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}