<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.protic.infrastructure.database.mybatis.mappers.NegotiationRecordMapper">
    <sql id="negotiation_columns">
        ID_NEGOTIATION idNegotiation,
        CREATED_AT createdAt,
        ID_OFFERED_WORK_EXPERIENCE idOfferedWorkExperience,
        ID_DEMANDED_WORK_EXPERIENCE idDemandedWorkExperience,
        CREATOR_ID creatorId,
        RECEIVER_ID receiverId,
        NEXT_ACTOR nextActor
    </sql>
    <select id="selectById"
            parameterType="org.example.protic.infrastructure.database.mybatis.records.NegotiationRecord"
            resultType="org.example.protic.infrastructure.database.mybatis.records.NegotiationRecord">
        select
        <include refid="negotiation_columns"/>
        from NEGOTIATION
        <where>
            ID_NEGOTIATION = #{idNegotiation,jdbcType=VARBINARY}
        </where>
    </select>
    <select id="selectByCreator"
            parameterType="org.example.protic.infrastructure.database.mybatis.records.NegotiationRecord"
            resultType="org.example.protic.infrastructure.database.mybatis.records.NegotiationRecord">
        select
        <include refid="negotiation_columns"/>
        from NEGOTIATION
        <where>
            CREATOR_ID = #{creatorId,jdbcType=VARCHAR}
        </where>
    </select>
    <select id="selectByReceiver"
            parameterType="org.example.protic.infrastructure.database.mybatis.records.NegotiationRecord"
            resultType="org.example.protic.infrastructure.database.mybatis.records.NegotiationRecord">
        select
        <include refid="negotiation_columns"/>
        from NEGOTIATION
        <where>
            RECEIVER_ID = #{receiverId,jdbcType=VARCHAR}
        </where>
    </select>
    <select id="selectByOfferedWorkExperience"
            parameterType="org.example.protic.infrastructure.database.mybatis.records.NegotiationRecord"
            resultType="org.example.protic.infrastructure.database.mybatis.records.NegotiationRecord">
        select
        <include refid="negotiation_columns"/>
        from NEGOTIATION
        <where>
            ID_OFFERED_WORK_EXPERIENCE = #{idOfferedWorkExperience,jdbcType=VARCHAR}
        </where>
    </select>
    <select id="selectByDemandedWorkExperience"
            parameterType="org.example.protic.infrastructure.database.mybatis.records.NegotiationRecord"
            resultType="org.example.protic.infrastructure.database.mybatis.records.NegotiationRecord">
        select
        <include refid="negotiation_columns"/>
        from NEGOTIATION
        <where>
            ID_DEMANDED_WORK_EXPERIENCE = #{idDemandedWorkExperience,jdbcType=VARCHAR}
        </where>
    </select>
    <insert id="insert" parameterType="org.example.protic.infrastructure.database.mybatis.records.NegotiationRecord">
        insert into NEGOTIATION (
        ID_NEGOTIATION,
        CREATED_AT,
        ID_OFFERED_WORK_EXPERIENCE,
        ID_DEMANDED_WORK_EXPERIENCE,
        CREATOR_ID,
        RECEIVER_ID,
        NEXT_ACTOR
        ) values (
        #{idNegotiation,jdbcType=VARBINARY},
        #{createdAt,jdbcType=TIMESTAMP},
        #{idOfferedWorkExperience,jdbcType=VARBINARY},
        #{idDemandedWorkExperience,jdbcType=VARBINARY},
        #{creatorId,jdbcType=VARCHAR},
        #{receiverId,jdbcType=VARCHAR},
        #{nextActor,jdbcType=VARCHAR}
        )
    </insert>
    <update id="update" parameterType="org.example.protic.infrastructure.database.mybatis.records.NegotiationRecord">
        update NEGOTIATION set
        NEXT_ACTOR = #{nextActor,jdbcType=VARCHAR}
        where ID_NEGOTIATION=#{idNegotiation,jdbcType=VARBINARY}
    </update>
    <delete id="delete" parameterType="org.example.protic.infrastructure.database.mybatis.records.NegotiationRecord">
        delete NEGOTIATION where
        ID_NEGOTIATION = #{idNegotiation,jdbcType=VARBINARY}
    </delete>
</mapper>