<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.protic.infrastructure.database.mybatis.mappers.RequestedDataRecordMapper">
    <sql id="requested_data_columns">
        ID_REQUESTED_DATA idRequestedData,
        JOB_TITLE jobTitle,
        COMPANY company,
        TECHNOLOGIES technologies,
        WORK_PERIOD workPeriod,
        SALARY salary
    </sql>
    <select id="selectById"
            parameterType="org.example.protic.infrastructure.database.mybatis.records.RequestedDataRecord"
            resultType="org.example.protic.infrastructure.database.mybatis.records.RequestedDataRecord">
        select
        <include refid="requested_data_columns"/>
        from REQUESTED_DATA
        <where>
            ID_REQUESTED_DATA = #{idRequestedData,jdbcType=INTEGER}
        </where>
    </select>
    <insert id="insert" parameterType="org.example.protic.infrastructure.database.mybatis.records.RequestedDataRecord"
            useGeneratedKeys="true" keyProperty="idRequestedData" keyColumn="ID_REQUESTED_DATA">
        insert into REQUESTED_DATA (
        JOB_TITLE,
        COMPANY,
        TECHNOLOGIES,
        WORK_PERIOD,
        SALARY
        ) values (
        #{jobTitle,jdbcType=VARCHAR},
        #{company,jdbcType=VARCHAR},
        #{technologies,jdbcType=VARCHAR},
        #{workPeriod,jdbcType=VARCHAR},
        #{salary,jdbcType=VARCHAR}
        )
    </insert>
</mapper>